<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>158849925875-4dj0820tnntdqp48e7c3grt7tmu52tvj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.158849925875-4dj0820tnntdqp48e7c3grt7tmu52tvj</string>
	<key>API_KEY</key>
	<string>AIzaSyAutbdp1SwdhR9_mj1_LWoIKAHBDEJpVeA</string>
	<key>GCM_SENDER_ID</key>
	<string>158849925875</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>itreat.HostMed</string>
	<key>PROJECT_ID</key>
	<string>hostmed-a9192</string>
	<key>STORAGE_BUCKET</key>
	<string>hostmed-a9192.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:158849925875:ios:81fac6e2f5d88363</string>
	<key>DATABASE_URL</key>
	<string>https://hostmed-a9192.firebaseio.com</string>
</dict>
</plist>